.cursor{
    cursor: pointer;

}

.btnModal{
    border-color: #395A66!important;
   
    background-color: #00C8AC!important;

    color: #395A66!important;
}
.MuiButton-containedPrimary {
    color: #fff;
    background-color: #00C8AC !important;
}