.box1{
    background-color: #B8CAD4 !important; 
    height: 100px !important;
}
.box2{
    background-color: #B8CAD4 !important;
    height: 60px !important;
}
.red1{
    font-size: 50px !important;
    color: #EFF8ED !important;
}
.red2{
    font-size: 60px !important;
    color: #EFF8ED !important;
}
.texto{
    color: #EFF8ED !important;
}
