.caixa{
    background-color: #FFFFFF;
}

.titulo{
   color: #395A66 !important;
   font-weight: bold !important;
}

.botao{
    border-color: #395A66 !important;
    background-color: #EFF8ED !important;
    color: #395A66 !important;
}

.postagens{
    background-color: #FFFFFF;
}