.titulo{
    color: #354D54 !important;
    font-weight: bold !important;
    text-align: center;
}
.caixa{
    background-color: #EFF8ED;
}
.botao{
    border-color: white !important; 
    background-color: #20C2A8 !important;
    color: #ffffff !important;
}
.postagens{
    background-color: #EFF8ED;
}
.img{
    width:500px;
    height:500px;
    display: block;
    margin: 0 auto;
}